.btn_nav {
    font-family: $font-hzt;
    font-size: 18px;
    letter-spacing: 2px;
    display: block;
    border: none;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 15px 40px;
    float: left;
    text-transform: uppercase;
    line-height: 20px;
    border-left: 1px solid white;

    span:first-child {
        margin-right: 5px;
    }
}

li.btn_nav:last-child{
    border-right: 1px solid white;
}

.btn_nav:hover {
    &.liefde { color: $themered; }
    &.lust   { color: $themeyellow; }
    &.angst  { color: $themeblue; }
}

.btn_nav.btn_nav_active {
    &.liefde { background: $themered; }
    &.lust   { background: $themeyellow; }
    &.angst  { background: $themeblue; }
    &, &:hover  { color: white; }
}

.btn-big {
    display: inline-block;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: 36px;
    color: white;
    background: #19C0D1;
    @include transition(500ms);
    @include transform(scale3d(1, 1, 1));
    margin-top: 30px;
    margin-bottom: 30px;

    &:hover {
        @include transform(scale3d(1.2, 1.2, 1));
    }
}

.btn_about {
    font-family: $font-hzt;
    font-size: 18px;
    letter-spacing: 2px;
    display: block;
    border: none;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 15px 40px;
    float: right;
    text-transform: uppercase;
    line-height: 20px;
    border-left: 1px solid white;
    color: #bbb;

    span {
        margin-right: 5px;
    }

    &:hover {
        color: black;
    }
}

.btn_share {
    font-family: $font-hzt;
    font-size: 18px;
    letter-spacing: 2px;
    display: block;
    border: none;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 15px 40px;
    float: right;
    text-transform: uppercase;
    line-height: 20px;
    border-left: 1px solid white;
    color: #bbb;

    span {
        margin-right: 5px;
    }

    &:hover {
        color: black;
    }
}