@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/icomoon.woff') format('woff');
}

@font-face {
    font-family: "hzt";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/hzt.woff") format('woff');
}

@font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/roboto-regular.woff") format('woff');
}

@font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/roboto-bold.woff") format('woff');
}

@font-face {
    font-family: "roboto";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/roboto-italic.woff") format('woff');
}

@font-face {
    font-family: "roboto";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/roboto-bolditalic.woff") format('woff');
}