@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/icomoon.woff') format('woff');
}

@font-face {
    font-family: "hzt";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/hzt.woff") format('woff');
}

@font-face {
    font-family: "opensans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-regular.woff") format('woff');
}

@font-face {
    font-family: "opensans";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/opensans-bold.woff") format('woff');
}

@font-face {
    font-family: "opensans";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/opensans-italic.woff") format('woff');
}

@font-face {
    font-family: "opensans";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/opensans-bolditalic.woff") format('woff');
}