.frontpage {
    background: url("../img/background.png") no-repeat center center;
    background-size: cover;
    text-align: center;
    color: white;
    line-height: 1.6;
    font-size:0.8em;
    text-shadow: 1px 1px rgba(0,0,0, 0.3);
    overflow: auto;

    a {
        color: white;
    }

    p {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        text-shadow: 0px 0px 8px black;
    }

    h2 {
        font-family: $font-hzt;
        color: white;
        font-size: 24px;
        margin-top: 5px;
    }

    h3 {
        font-size: 16px;
    }

    .frontpage_logo {
        width: 174px;
    }

    #quotes{
    min-height: 66px;
    overflow: hidden;
    margin: 10px 0px 0px 10px;
    }

    #quotes p {
        font-family: 'exo2', sans-serif;
        display:none;
        opacity: 0;
        font-size: 26px;
        margin: 0px auto;
        padding: 0px;
        text-shadow: 0px 0px 0px;
    }

    #quotes span {
        background-color: rgba(230, 26, 56, 0.6);
        padding: 5px;
    }

    .container_frontpageIcon {
        position: relative;
        max-width: 80px;
        width: 20%;
        min-height: 120px;
        display: inline-block;
        cursor: pointer;
        margin: 40px 3% 0 3%;
    }

    .frontpageIcon_shadow {
        width: 100%;
    }

    .frontpageIcon_icon {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 21;
    }

    .youtubePlayer {
        border: 4px solid white;
        margin: 40px 0px;
    }
}