.container_gemeenteDropDown {
    position: absolute;
    top: 130px;
    right: 20px;
    z-index: 2;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    @include transition(right 0.3s ease 0s);
    @include theme-colors-background;

    body.contracted & {
        right: -390px;
    }

    label, select {
        float: left;
        clear: left;
        padding: 5px 10px;
    }

    label {
        color: white;
    }

    select {
        cursor: pointer;
        @include appearance(none);
        border: 0;
        background: white;
        border: none;
        border-radius: 0;
        font-size: 14px;
        padding: 10px;
        outline: none;
    }
}

.container_filterGemeente {
    position: absolute;
    right: 20px;
    top: 80px;
    @include transition(right 0.3s ease 0s);
}

.filter_gemeente {
    position: relative;
    float: right;
    z-index: 100;
    background-color: #fff;
    padding: 5px 10px;
    margin-left: 20px;
    color: #ccc;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: default;
    @include background(linear-gradient(rgba(225,0,0,0) 0%, rgba(0,0,0,0.04) 100%) repeat scroll 0 0 rgba(255,255,255,1));
}

.filter_gemeente:not(.inactive){
    color: #fff;
}

.filter_gemeente.liefde:not(.inactive) {
    background-color: #e53228;
}

.filter_gemeente.angst:not(.inactive) {
    background-color: #19C0D1;
}

.filter_gemeente.lust:not(.inactive) {
    background-color: #FFAA00;
}

body.contracted .container_filterGemeente {
    right: -550px;
}

.container_filterGemeente.bounce {
    transition: right 0.1s ease 0s;
    right: 30px;
}

.filter_gemeente {
    &[data-gemeente="Nederland"] .gemeente_del {
        display: none;
    }

    .gemeente_name {
        text-align: right;
        float: right;
    }

    .gemeente_del {
        float: right;
        width: 10px;
        margin-left: 10px;
        font-weight: bold;
        cursor: pointer;
    }
}