
[class^="icon-"] {
    font-family: "icomoon";
    font-style: normal;
    font-variant: "normal";
    text-transform: none;
}

.icon-heart:before {
    font-size: 14px;
    content:"\e601"
}

.icon-condom:before {
    font-size: 14px;
    content:"\e602"
}

.icon-broken:before {
    font-size: 14px;
    content:"\e600"
}

.icon-share:before {
    font-size: 14px;
    content:"\ea7d"
}

.icon-about:before {
    font-size: 14px;
    content:"\ea0c"
}

.icon-circle-left:before {
    content: "\f053";
}

.icon-circle-right:before {
    content: "\f054";
}

.icon-hzt {
    cursor: pointer;
    margin-top: -43px;
    margin-left: 50px;
    display: block;
    padding: 5px 5px;
    height: 100%;
    text-decoration: none;
    color: black;
}

.icon-hzt:before {
    content:"\e603"
}