
.mask_header {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container_header {
    overflow: hidden;
    height: 100%;
    width: 400%;
}

.container_page {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    float: left;
    overflow: hidden;
}

.contentHeader {
    width: 100%;
    height: 100%;
    position: relative;
}

.contentHeader.liefde {
    background: -webkit-radial-gradient(center center, ellipse, #fff9f9 25%, #e5b7b7 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: radial-gradient(ellipse at center center , #fff9f9 25%, #e5b7b7 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.contentHeader.lust {
    background: -webkit-radial-gradient(center center, ellipse, #fffbef 25%, #edd682 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: radial-gradient(ellipse at center center , #fffbef 25%, #edd682 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.contentHeader.angst {
    background: -webkit-radial-gradient(center center, ellipse, #f8fefc 25%, #bee2db 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: radial-gradient(ellipse at center center , #f8fefc 25%, #bee2db 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.contentBlock {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.theme_liefde .contentBlock {
    background: radial-gradient(ellipse at center center , #fff9f9 25%, #e5b7b7 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.theme_lust .contentBlock {
    background: radial-gradient(ellipse at center center , #fffbef 25%, #edd682 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.theme_angst .contentBlock {
    background: radial-gradient(ellipse at center center , #f8fefc 25%, #bee2db 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.container_content {
    position: relative;
    padding: 200px 10px 10px 10px;
    text-align: center;
}

.container_content:first-child h1 {
    display: none;
}

.chartcontainer {
    position: relative;
    width: 90%;
    height: 70%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.chart_table {
    border-collapse: collapse;
    width: 80%;
    height: 80%;
    margin: 0px auto;
}

.chart_left, .chart_right {
    text-align: center;
    min-width: 50%;
}

.chart_left {
}

.chart_right {
}

.chart_gemeenteName {
    height: 10%;
    font-weight: bold;
    font-size: 16px;
}

.chart_chart {
    height: 90%;
}

/*-----------------------------*/

.container_top {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    text-align: center;
    background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%) repeat scroll 0 0 rgba(255,255,255,1);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%) repeat scroll 0 0 rgba(255,255,255,1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #DDD;
}

.container_logo {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
    text-align: left;
}

.logo {
    height: 40px;
    border-right: 1px solid #ddd;
    padding: 6px 6px;
}

.container_themaButtons {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 50%;
    margin-left: -218px;
    display: inline-block;
}

.container_otherButtons {
    float: right;
    margin: 0px;
    padding: 0px;
    display: inline-block;

}

.container_left {
    position: absolute;
    top: 80px;
    left: -220px;
    z-index: 100;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    transition: left 0.3s ease 0s;
}

.container_left.open {
    left: 0px;
}

.container_left.contracted {
    left: -310px;
}

.container_legendTitle {
    box-sizing: border-box;
    padding: 0px 9px;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 40px;
    color: white;
}

.container_legendTitle.liefde {
    background-color: #e53228;
}

.container_legendTitle.angst {
    background-color: #19C0D1;
}

.container_legendTitle.lust {
    background-color: #FFAA00;
}

.legend_open {
    position: absolute;
    top: 0px;
    right: 9px;
    font-size: 16px;
    cursor: pointer;
}

.legend_close {
    position: absolute;
    top: 0px;
    right: 9px;
    font-size: 16px;
    cursor: pointer;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    position: fixed; /* STEF */
    margin-left: 570px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.lead {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}

.container_left:not(.open) .container_legendTitle .legend_close {
    display: none;
}

.container_left.open .container_legendTitle .legend_open {
    display: none;
}

.legend {
    margin: 0px;
    padding: 0px;
}

.legendItem {
    list-style-type: none;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    border-right: 6px solid #333940;
}

.legendItem:first-child {
    font-weight: 800;
}

.legendItem:not(.legendItem_inactive):hover{
    list-style-type: none;
    background-color: whiteSmoke;
}

.legendItem_active.liefde {
    border-right: 6px solid #e53228;
}

.legendItem_active.angst {
    border-right: 6px solid #19C0D1;
}

.legendItem_active.lust {
    border-right: 6px solid #FFAA00;
}

.legendItem_inactive {
    background-color: #eee;
    color: #bbb;
    border-right: 6px solid #555;
    cursor: default;
}

.legendItem_inactive2 {
    opacity: 0.2;
    border-right: 6px solid #555;
    cursor: default;
}

.container_filters {
    position: absolute;
    color: white;
    top: 80px;
    right: 20px;
    line-height: 1.45em;
    z-index: 100;
    transition: right 0.3s ease 0s;
    background: -webkit-linear-gradient(rgba(225,0,0,0) 0%, rgba(0,0,0,0.04) 100%) repeat scroll 0 0 rgba(255,255,255,1);
    background: linear-gradient(rgba(225,0,0,0) 0%, rgba(0,0,0,0.04) 100%) repeat scroll 0 0 rgba(255,255,255,1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}


.container_filters.contracted {
    right: -550px;
}

.container_filters.liefde {
    background-color: #e53228;
}

.container_filters.angst {
    background-color: #19C0D1;
}

.container_filters.lust {
    background-color: #FFAA00;
}



.caret {
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    height: 0px;
    width: 0px;
    vertical-align: middle;
}

.container_filterGemeente {
    position: absolute;
    right: 20px;
    top: 140px;
    transition: right 0.3s ease 0s;
}

.filter_gemeente {
    position: relative;
    float: right;
    z-index: 100;
    background-color: #fff;
    padding: 5px 10px;
    margin-left: 20px;
    color: #ccc;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: default;
    background: -webkit-linear-gradient(rgba(225,0,0,0) 0%, rgba(0,0,0,0.04) 100%) repeat scroll 0 0 rgba(255,255,255,1);
    background: linear-gradient(rgba(225,0,0,0) 0%, rgba(0,0,0,0.04) 100%) repeat scroll 0 0 rgba(255,255,255,1);
}

.filter_gemeente:not(.inactive){
    color: #fff;
}

.filter_gemeente.liefde:not(.inactive) {
    background-color: #e53228;
}

.filter_gemeente.angst:not(.inactive) {
    background-color: #19C0D1;
}

.filter_gemeente.lust:not(.inactive) {
    background-color: #FFAA00;
}

.container_filterGemeente.contracted {
    right: -550px;
}

.container_filterGemeente.bounce {
    transition: right 0.1s ease 0s;
    right: 30px;
}

.filter_gemeente .gemeente_name {
    text-align: right;
    float: right;
}

.filter_gemeente .gemeente_del {
    float: right;
    width: 10px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.filter_gemeente.inactive .gemeente_del {
    display: none;
}

.container_frontpageIcon {
    position: relative;
    min-width: 100px;
    min-height: 120px;
    display: inline-block;
    cursor: pointer;
    margin: 40px 5% 0 5%;
}

.frontpageIcon_shadow {

}

.frontpageIcon_icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.theme_liefde .gemeente_name1,
.theme_liefde .gemeente_name2 {
    color: #e53228;
}

.theme_angst .gemeente_name1,
.theme_angst .gemeente_name2 {
    color: #19C0D1;
}

.theme_lust .gemeente_name1,
.theme_lust .gemeente_name2 {
    color: #FFAA00;
}

.singleQuote, .doubleQuote {
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
}

#quotes{
    min-height:40px;
}

#quotes p {
    font-family: 'Exo', sans-serif;
    display:none;
    opacity:0;
    font-weight:200;
    font-size: 20px;
    margin: 0px auto;
    padding: 0px;
}

.chart rect{
    fill: #F21933;
}

.chart text{
    fill: #F21933;
    font: 14px;
    font-weight: bold;
    text-anchor: end;
    font-weight: 100;
}

.axis text{
    font: 10px;
    fill: black;
    font-weight: normal;
}
.axis.y{
    display: none;
}

.axis path, .axis line{
    display: none;
}

.chart_nodata {
    padding-top: 5%;
    font-size: 16px;
    font-weight: bold;
}

.chart_nodata img {
    padding-top: 20px;
}

.chart_nodata p {
    font-weight: 300;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-bottom{
    z-index: 50;
}

.leaflet-bar {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
}

.leaflet-container a.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup, .leaflet-popup-content, .leaflet-popup-content-wrapper {
    text-align: center;
}

.leaflet-popup-content {
    margin: 8px 14px;
}

.marker {
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}
