$font-icomoon: icomoon;
$font-hzt: hzt, opensans, Impact, serif;
$font-opensans: opensans, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$grey: #3F3F3F;
$mediumgrey: #bbb;
$lightgrey: #ECECEC;
$averagegrey: #929292;
$themeblue: #52BFD5;
$themered: #E53423;
$themeyellow: #E5C522;
