body, html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

body {
    margin: 0px;
    padding: 0px;
    border: none;
    overflow: hidden;
}

.mask_header {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container_header {
    overflow: hidden;
    height: 100%;
    width: 400%;
}

.container_page {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    float: left;
    overflow-x: hidden;
}

.contentHeader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.contentBlock {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.container_content {
    position: relative;
    padding: 140px 10px 10px 10px;
    text-align: center;
}

.chartcontainer {
    position: relative;
    width: 90%;
    height: 70%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.chart_table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.chart_left, .chart_right {
    text-align: center;
    min-width: 50%;
}

.chart_left { 
}

.chart_right { 
}

.chart_gemeenteName {
    height: 10%;
    font-weight: bold;
    font-size: 16px;
}

.chart_chart {
    height: 90%;
}

/*-----------------------------*/

.container_top {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.container_logo {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
    text-align: left;
}

.logo {
    height: 40px;
    border-right: 1px solid #ddd;
    padding: 6px 6px;
}

.container_themaButtons {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.container_left {
    position: absolute;
    top: 80px;
    left: -220px;
    z-index: 100;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease 0s;
}

.container_left.open {
    left: 0px;
}

.container_left.contracted {
    left: -310px;
}

.btn_nav {
    display: block;
    font-weight: bold;
    font-size: 16px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 15px 25px;
    background-color: #fff;
    float: left;
    text-transform: uppercase;
    line-height: 20px;
    border-left: 1px solid #ddd;
}

.btn_nav:last-child{
    border-right: 1px solid #ddd;
}


.btn_nav:hover {
    background-color: whiteSmoke;
}

.btn_nav.liefde:not(.btn_nav_active):hover {
    color: #e53228;
}

.btn_nav.angst:not(.btn_nav_active):hover {
    color: #19C0D1;
}

.btn_nav.lust:not(.btn_nav_active):hover {
    color: #FFAA00;
}

.btn_nav_active {
    color: #fff;
}

.btn_nav_active.liefde {
    background-color: #e53228;
}

.btn_nav_active.angst {
    background-color: #19C0D1;
}

.btn_nav_active.lust {
    background-color: #FFAA00;
}

.container_legendTitle {
    box-sizing: border-box;
    padding: 0px 15px;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 40px;
    color: white;
}

.container_legendTitle.liefde {
    background-color: #e53228;
}

.container_legendTitle.angst {
    background-color: #19C0D1;
}

.container_legendTitle.lust {
    background-color: #FFAA00;
}

.legend_open {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.legend_close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.container_left:not(.open) .container_legendTitle .legend_close {
    display: none;
}

.container_left.open .container_legendTitle .legend_open {
    display: none;
}

.legend {
    margin: 0px;
    padding: 0px;
}

.legendItem {
    list-style-type: none;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    border-right: 6px solid #333940;
}

.legendItem:not(.legendItem_inactive):hover{
    list-style-type: none;
    background-color: whiteSmoke;
}

.legendItem_active.liefde {
    border-right: 6px solid #e53228;
}

.legendItem_active.angst {
    border-right: 6px solid #19C0D1;
}

.legendItem_active.lust {
    border-right: 6px solid #FFAA00;
}

.legendItem_inactive {
    background-color: #eee;
    color: #bbb;
    border-right: 6px solid #555;
    cursor: default;
}

.legendItem_inactive2 {
    opacity: 0.2;
    border-right: 6px solid #555;
    cursor: default;
}

.container_filters {
    position: absolute;
    color: white;
    top: 80px;
    right: 20px;
    padding: 5px;
    z-index: 100;
    transition: right 0.3s ease 0s;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.container_filters.contracted {
    right: -550px;
}

.container_filters.liefde {
    background-color: #e53228;
}

.container_filters.angst {
    background-color: #19C0D1;
}

.container_filters.lust {
    background-color: #FFAA00;
}

.container_dropdowns {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.dropdown {
    display: block;
    position: relative;
    float: left;
}

.dropdown:hover >.dropdown_menu {
    display: block;
}

.dropdown:hover > a {
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown_button {
    padding: 5px 10px;
    display: block;
    position: relative;
    cursor: default;
}

.dropdown_menu {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    float: left;
    font-size: 14px;
    list-style: none;
    margin: 2px 0px 0px;
    min-width: 160px;
    padding: 5px 0px;
    position: absolute;
    top: 26px;
    z-index: 200;
    display: none;
}

.dropdown_menu:not(.right){
    left: 0px;
}

.dropdown_menu.right {
    right: 0px;
}

.dropdown_menuButton {
    clear: both;
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
    color: #000;
    cursor: pointer;
}

.dropdown_menuButton:hover {
    background-color: whiteSmoke;
}

.dropdown_menuButton.active:before {
    color: #070;
    font-weight: bold;
    content: "✓ ";
}

.caret {
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    height: 0px;
    width: 0px;
    vertical-align: middle;
}

.container_dropdown {
    position: absolute;
    top: 300px;
    right: 20px;
    z-index: 100;
}

.filter_gemeente {
    position: absolute;
    right: 20px;
    z-index: 100;
    background-color: #e53228;
    padding: 5px 10px;;
    color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: right 0.3s ease 0s;
}

.filter_gemeente.left {
    top: 140px;
}

.filter_gemeente.right {
    
    top: 180px;
}
.filter_gemeente.inactive {
    background-color: whiteSmoke;
    color: #AAA;
}

.filter_gemeente.liefde:not(.inactive) {
    background-color: #e53228;
}

.filter_gemeente.angst:not(.inactive) {
    background-color: #19C0D1;
}

.filter_gemeente.lust:not(.inactive) {
    background-color: #FFAA00;
}

.filter_gemeente.contracted {
    right: -550px;
}

.filter_gemeente.bounce {
    transition: right 0.1s ease 0s;
    right: 25px;
}

.filter_gemeente .gemeente_name {
    text-align: right;
    float: right;
}

.filter_gemeente .gemeente_del {
    float: right;
    width: 10px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.filter_gemeente.inactive .gemeente_del {
    display: none;
}

.container_frontpageIcon {
    position: relative;
    min-width: 100px;
    min-height: 120px;
    display: inline-block;
    cursor: pointer;
    margin: 6% 5% 0 5%;
}

.frontpageIcon_shadow {

}

.frontpageIcon_icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

/*-------------- FONTS --------------*/

@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/icomoon.eot?#iefix-41m57u") format("embedded-opentype"), 
        url("../fonts/icomoon.woff?-41m57u") format("woff"), 
        url("../fonts/icomoon.ttf?-41m57u") format("truetype"), 
        url("../fonts/icomoon.svg?-41m57u#icomoon") format("svg");
}

/*-------------- ICONS --------------*/

[class^="icon-"] {
    font-family: "icomoon";
    font-style: normal;
    font-variant: "normal";
    text-transform: none;
}

.icon-heart:before {
    font-size: 14px;
    content:"\e601"
}

.icon-condom:before {
    font-size: 14px;
    content:"\e602"
}

.icon-broken:before {
    font-size: 14px;
    content:"\e600"
}

.icon-hzt {
    cursor: pointer;
    margin-top: -43px;
    margin-left: 50px;
    display: block;
    padding: 5px 5px;
    height: 100%;
    text-decoration: none;
    color: black;
}

.icon-hzt:before {
    content:"\e603"
}

/*-------------- CHART --------------*/

.chart rect{
    fill: #F21933;
}

.chart text{
    fill: #F21933;
    font: 14px;
    font-weight: bold;
    text-anchor: end; 
    font-weight: 100;
}

.axis text{
    font: 10px;
    fill: black;
    font-weight: normal;
}
.axis.y{
    display: none;
}

.axis path, .axis line{
    display: none;
}

.chart_nodata{
    padding-top: 10%;
    font-size: 16px;
    font-weight: bold;
}