<div id="about">
    <div id="about_background">
        <div id="about_container">
            <a class="close">&times;</a>

            <h1>Over</h1>
            <p class="lead">Dit onderzoek is opgezet op verzoek van Lucas De Man; regisseur van de voorstelling <a href="http://www.hzt.nl/romeoenjulia">Romeo &amp; Julia bij Het Zuidelijk Toneel</a>. Lucas (32 jaar) wilde een Romeo &amp; Julia maken die gaat over de huidige generatie 20ers en 30ers. Hoe zien en ervaren zij de liefde nu? Dat vroeg hij zich af.</p>

            <p>De resultaten van het onderzoek verwerkte Lucas in de verschillende personages van de voorstelling. Romeo &amp; Julia zijn geen 14 en 15 jaar zoals in het origineel maar 30ers, omgeven door hun vrienden en carrières.  Daarnaast  gooide Lucas de ouders uit het stuk, selecteerde een steengoede cast generatiegenoten en vroeg Nik van den Berg om vette live muziek te komen maken.</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/XfoDl9wrfAQ?rel=0" frameborder="0" allowfullscreen></iframe>

            <h5>Samenwerkingen</h5>
            Het onderzoek is opgezet in samenwerking met onderzoeksbureau Dynamic Concepts en BNN. Om zoveel mogelijk resultaat te behalen, is bij het uitzetten van de enquête hulp verkregen van alle deelnemende theaters, BNN, Parship en Avans Hogeschool. De studenten van de minor Data Beleving aan Avans Hogeschool in 's-Hertogenbosch hebben tot slot de resultaten vormgegeven en de digitale Kaart van de Liefde ontwikkeld.

            Op 12 maart gaat de voorstelling in première in Tilburg en staat daarna overal in Nederland en België. <a href="http://www.hzt.nl">Klik hier voor kaarten en meer informatie</a>.

            <h5>Partners</h5>

            <ul class="thumblist">
                <li><a href="http://www.bnn.nl"><img src="img/bnnlogo.png"></a></li>
                <li><a href="http://www.avans.nl"><img src="img/avans-hogeschool-logo.png"></a></li>
                <li><a href="http://www.parship.nl"><img src="img/parship-logo.jpg"></a></li>
                <li><a href="http://www.dynamic-concepts.nl/"><img src="img/dynamic-concepts.png"></a></li>
            </ul>

            <h5>Colofon</h5>

            <dl class="credit-list credit-list-left">
                <dt>Regie en concept</dt>
                <dd>Lucas de Man</dd>
                <dd>Joep Grooteman</dd>

                <dt>Coördinatie vormgeving</dt>
                <dd>Brenda Renssen</dd>

                <dt>Coördinatie techniek</dt>
                <dd>Hay Kranen</dd>

                <dt>Coördinatie vanuit Avans</dt>
                <dd>Bertus Rosier</dd>

                <dt>Groepshoofden</dt>
                <dd>Dirk Kremers</dd>
                <dd>Joanne van Hemsbergen</dd>

                <dt>Techniek</dt>
                <dd>Kenneth de Brabander</dd>
                <dd>Mitch de Peffer</dd>
                <dd>Stef van Zon</dd>

                <dt>Animatie</dt>
                <dd>Nick van Dam</dd>

                <dt>Coördinatie enquete</dt>
                <dd>Emmy Mutsaers</dd>
            </dl>

            <dl class="credit-list credit-list-right">
                <dt>Studenten Minor Databeleving</dt>
                <dd>Tomas van der Aa</dd>
                <dd>Esther Bergé</dd>
                <dd>Vincent van den Boogaard</dd>
                <dd>Lotje Chabot</dd>
                <dd>Tom van Dijk</dd>
                <dd>Leon van Gemert</dd>
                <dd>Nick Groeneveld</dd>
                <dd>Sander op 't Hof</dd>
                <dd>Josselien Huijbers</dd>
                <dd>Thijs de Jong</dd>
                <dd>Tom Klaversma</dd>
                <dd>Luuk Leijtens</dd>
                <dd>Pascal Lemmen</dd>
                <dd>Ellen Michels</dd>
                <dd>Koen Molthoff</dd>
                <dd>Sergio Putinela</dd>
                <dd>Tom Raas</dd>
                <dd>Dylan Sengers</dd>
                <dd>Koen Smeding</dd>
                <dd>Stephan Tenbült</dd>
                <dd>Thomas van der Veen</dd>
                <dd>Bas Wouters</dd>
                <dd>Quincy Zweers</dd>
            </dl>
        </div>
    </div>
</div>