<div class="container_page">
    <div class="contentHeader frontpage" data-category="Informatie">
       <div id="home-logo">
            <img src="img/logo.png" alt="Logo kaart van de liefde" />
        </div>

        <div id="quotes">
            <p> "33% van de Nederlanders geloven in één ware liefde" </p>
            <p> "De Nederlander heeft gemiddeld 9 bedpartners gehad" </p>
            <p> "40% van de Nederlandse vrijgezellen zijn bang om alleen te blijven" </p>
            <p> "84% van Nederland beleeft de beste seks met hun huidige partner" </p>
            <p> "30% van de Nederlanders zien liefde en seks nog als één" </p>
            <p> "45% van de Nederlanders denken dat het niet makkelijk is een (nieuwe) relatie te vinden" </p>
            <p> "33% van de Nederlanders hebben wel eens online gedate" </p>
            <p> "25% van de Nederlanders zijn ontevreden over hun seksleven" </p>
            <p> "9% van de Nederlanders zouden het niet erg vinden om alleen te blijven" </p>
            <p> "De Nederlander heeft gemiddeld 2 serieuze relaties gehad" </p>
            <p> "2% van de Nederlanders voelen zich niet fysiek aangetrokken tot hun partner" </p>
            <p> "29% van de Nederlanders beschouwen zichzelf als een catch" </p>
            <p> "32% van de Nederlanders hebben gescheiden ouders" </p>
            <p> "6% van de Nederlanders hebben liever seks dan een relatie" </p>
            <p> "57% van de Nederlanders vinden het lastig om hun fouten en zwakte toe te geven" </p>
        </div>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/0KqO1lJgOZE?rel=0" frameborder="0" allowfullscreen></iframe>

        <h3>Seks, Liefde en angst.</h3>
        <p>Drie onderwerpen die met elkaar in verband staan. Maar zo zien jongeren het al lang niet meer.
        Liefde nee, seks ja, Is een opvatting die je steeds vaker terugziet.
        In een grootschalig onderzoek, uitgezet door het zuidelijk toneel,
        zijn confronterende vragen gesteld over deze onderwerpen.
        Ongeveer 1200 Nederlandse jongeren hebben antwoord gegeven op vragen als;
         ben je tevreden over je seksleven?, Geloof je in de ware liefde?
         En ben je als single bang om alleen te blijven?</p>

        <p>Benieuwd geworden? Kies een van de onderstaande onderwerpen en begin een zoektocht naar de liefde in Nederland.</p>

        <div id="themes">
            <a href="#" class="home-link" data-toPage="1">
                <div class="container_frontpageIcon">
                    <img class="frontpageIcon_shadow" src="img/icon_shadow.png"/>
                    <img class="frontpageIcon_icon" src="img/icon_liefde.png"/>
                    <h2>liefde</h2>
                </div>
            </a>
            <a href="#" class="home-link" data-toPage="2">
                <div class="container_frontpageIcon">
                    <img class="frontpageIcon_shadow" src="img/icon_shadow.png"/>
                    <img class="frontpageIcon_icon" src="img/icon_lust.png"/>
                    <h2>lust</h2>
                </div>
            </a>
            <a href="#" class="home-link" data-toPage="3">
                <div class="container_frontpageIcon">
                    <img class="frontpageIcon_shadow" src="img/icon_shadow.png"/>
                    <img class="frontpageIcon_icon" src="img/icon_angst.png"/>
                    <h2>angst</h2>
                </div>
            </a>
        </div>
    </div>
</div>