<div class="container_page">
    <div class="contentHeader frontpage" data-category="Informatie">
       <div id="home-logo">
            <img src="img/logo.png" class="frontpage_logo" alt="Logo kaart van de liefde" />
        </div>

        <iframe class="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/0KqO1lJgOZE?rel=0&controls=2" frameborder="0" allowfullscreen></iframe>

        <div id="quotes">
            <p><span> "33% van de Nederlanders geloven in één ware liefde" </span></p>
            <p><span> "De Nederlander heeft gemiddeld 9 bedpartners gehad" </span></p>
            <p><span> "40% van de Nederlandse vrijgezellen zijn bang om alleen te blijven" </span></p>
            <p><span> "84% van Nederland beleeft de beste seks met hun huidige partner" </span></p>
            <p><span> "30% van de Nederlanders zien liefde en seks nog als één" </span></p>
            <p><span> "45% van de Nederlanders denken dat het niet makkelijk is een (nieuwe) relatie te vinden" </span></p>
            <p><span> "33% van de Nederlanders hebben wel eens online gedate" </span></p>
            <p><span> "25% van de Nederlanders zijn ontevreden over hun seksleven" </p>
            <p><span> "9% van de Nederlanders zouden het niet erg vinden om alleen te blijven" </span></p>
            <p><span> "De Nederlander heeft gemiddeld 2 serieuze relaties gehad" </span></p>
            <p><span> "2% van de Nederlanders voelen zich niet fysiek aangetrokken tot hun partner" </span></p>
            <p><span> "29% van de Nederlanders beschouwen zichzelf als een catch" </span></p>
            <p><span> "32% van de Nederlanders hebben gescheiden ouders" </span></p>
            <p><span> "6% van de Nederlanders hebben liever seks dan een relatie" </span></p>
            <p><span> "57% van de Nederlanders vinden het lastig om hun fouten en zwakte toe te geven" </span></p>
        </div>

        <p>
            <a href="#" data-toPage="1">
                Check hier de resultaten van het grote liefde en seks onderzoek vandaag de dag bij 18 tot 35 jarigen in Nederland.
            </a>
        </p>

        <h1 class="display-sm">Deze website is geoptimaliseerd voor tablets en desktops. Op mobiel zijn helaas niet alle functionaliteiten aanwezig.</h1>

        <a href="#" class="btn-big" data-toPage="1">Bekijk de resultaten</a>

        <div id="themes">
            <a href="#" class="home-link" data-toPage="1">
                <div class="container_frontpageIcon">
                    <img class="frontpageIcon_shadow" src="img/icon_shadow.png"/>
                    <img class="frontpageIcon_icon" src="img/icon_liefde.png"/>
                    <h2>liefde</h2>
                </div>
            </a>
            <a href="#" class="home-link" data-toPage="2">
                <div class="container_frontpageIcon">
                    <img class="frontpageIcon_shadow" src="img/icon_shadow.png"/>
                    <img class="frontpageIcon_icon" src="img/icon_lust.png"/>
                    <h2>lust</h2>
                </div>
            </a>
            <a href="#" class="home-link" data-toPage="3">
                <div class="container_frontpageIcon">
                    <img class="frontpageIcon_shadow" src="img/icon_shadow.png"/>
                    <img class="frontpageIcon_icon" src="img/icon_angst.png"/>
                    <h2>angst</h2>
                </div>
            </a>
        </div>

        <h3 class="partners">Partners</h3>

        <ul class="thumblist thumblist-center">
            <li><a href="http://www.bnn.nl"><img src="img/bnnlogo.png"></a></li>
            <li><a href="http://www.avans.nl"><img src="img/avans-hogeschool-logo.png"></a></li>
            <li><a href="http://www.parship.nl"><img src="img/parship-logo.jpg"></a></li>
            <li><a href="http://www.dynamic-concepts.nl/"><img src="img/dynamic-concepts.png"></a></li>
        </ul>
    </div>
</div>
