<div class="container_top">
    <div class="container_logo">
        <a class="homebutton" data-toPage="0">
            <img class="logo" src="img/logo_beeld.png"/>
        </a>

        <a class="icon-hzt" href="http://www.hzt.nl/romeoenjulia" target="_blank" title="Naar de website van Het Zuidelijk Toneel"></a>
    </div>

    <ul class="container_themaButtons">
        <li class="btn_nav liefde" data-toPage="1"><span class="icon-heart"></span> <span class="nav_name">Liefde</span></li>
        <li class="btn_nav lust" data-toPage="2"><span class="icon-condom"></span> <span class="nav_name">Lust</span></li>
        <li class="btn_nav angst" data-toPage="3"><span class="icon-broken"></span> <span class="nav_name">Angst</span></li>
    </ul>

    <ul class="container_otherButtons">
        <a href="https://twitter.com/intent/tweet?text=Check%20hier%20de%20resultaten%20van%20het%20grote%20liefde%20en%20seks%20onderzoek%20vandaag%20de%20dag%20bij%2018%20tot%2035%20jarigen%20in%20Nederland.%20http%3A%2F%2Fwww.kaartvandeliefde.nl">
            <li class="btn_share">
                <img src="img/twitter.png">
            </li>
        </a>

        <a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.kaartvandeliefde.nl">
            <li class="btn_share">
                <img src="img/facebook.png">
            </li>
        </a>

        <li class="btn_about">
            <span class="icon-about"></span>
            <span class="nav_name">Info</span>
        </li>
    </ul>
</div>